body {
    background-color: blue;
    color: greenyellow;
    font-family: "Courier New" 
}
/* Highlight rows with the .flagged class */

.flagged {
    background-color: greenyellow; /* Light red background */
    font-weight: bold;        /* Bold text */
    color: blue;

}

.positive {
    border-left: 5px solid green;

}
.negative {
    border-left: 5px solid red;
}
.transfer {
    border-left: 5px solid greenyellow;
}
.headbar {
    font-size: 5vh;
    text-align: center;
    background-color: rgb(0, 0, 204);
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 10vh;
}
#summary {

    color:white;
    border: 5px solid greenyellow;
    background-color: rgb(0, 0, 204);
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    width:95%;
    font-size: 2vw;
    margin-left: 2.5%;
    text-align: center;
    margin-top: 12vh;
}
button{
    float: left;
    width: 23vw;
    border: solid greenyellow 5px;
    height: 5vh;
    background-color: greenyellow;
    color: blue;
    font-size: 2vw;
}
button:hover{
    background-color: green;
    border-color: green;
}
#left {
    margin-left: 2.5%;
}
