body {
    background-color: blue;
    color: greenyellow;
    font-family: "Courier New" 
}
/* Highlight rows with the .flagged class */

.flagged {
    background-color: greenyellow; /* Light red background */
    font-weight: bold;        /* Bold text */
    color: blue;

}

.positive {
    border-left: 1vw solid green;

}
.negative {
    border-left: 1vw solid red;
}
.transfer {
    border-left: 1vw solid greenyellow;
}
.headbar {
    font-size: 7vw;
    text-align: center;
    background-color: rgb(0, 0, 204);
    border: 1vw solid greenyellow;
    position: fixed;
    left: 1vw;
    right: 1vw;
    top: 0px;
    height: 20vw;
}
#summary {

    color:white;
    border: 1vw solid greenyellow;
    background-color: rgb(0, 0, 204);
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    font-size: 3.5vw;
    text-align: center;
    margin-top: 12vh;
    left: 2vw;
    right:2vw
}
.options{
    float: left;
    width: 25%;
    border: solid greenyellow 1vw;
    height: 5vw;
    background-color: greenyellow;
    color: blue;
    font-size: 3vw;
    text-align: center;
}
.options:hover{
    background-color: green;

}
.options:active {
    background-color: blue;
    color: greenyellow;
}
#left {
    left:2vw
}
label{
    float: left;
    width: 98%;
    border: solid greenyellow 1vw;
    height: 5vw;
    background-color: greenyellow;
    color: blue;
    font-size: 3vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-bottom-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
}
label:hover {
    background-color: green;
}
label:active {
    background-color: blue;
    color: greenyellow;
}
